<p style="color: green"><%= notice %></p>

<div class="container">
  <%= form_with(model: @review) do |form| %>
    <%= form.label :title, "Review Title:" %><br>
    <%= form.text_field :title, required: true %><br>
    
    <%= form.label :review, "Your Review:" %><br>
    <%= form.text_area :review, rows: 4, required: true %><br>
    
    <%= form.label :name, "Your Name:" %><br>
    <%= form.text_field :name, required: true %><br>

    <%= form.hidden_field :order_id, value: params[:order_id] %>

    <%= form.label :rating, "Rating:" %><br>
    <div class="rating">
      <%= form.radio_button :rating, 5, id: "star5" %>
      <label for="star5">★</label>
      <%= form.radio_button :rating, 4, id: "star4" %>
      <label for="star4">★</label>
      <%= form.radio_button :rating, 3, id: "star3" %>
      <label for="star3">★</label>
      <%= form.radio_button :rating, 2, id: "star2" %>
      <label for="star2">★</label>
      <%= form.radio_button :rating, 1, id: "star1" %>
      <label for="star1">★</label>
    </div><br>
    
    <%= form.submit "Submit Review" %>
  <% end %>
</div>
